
{% extends "platty/master.html" %}

{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Your Parties
            </h1>
        </div>
    </div>
    <!-- /.row -->
    
    <div class="row">
        <div class="col-lg-8">
            <h2>Hosting</h2>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                </tr>
                {% for party in hosting_list %}
                <tr>
                    <td><a href="../parties/{{party.id}}">{{party.name}}</a></td>
                    <td>{{party.date_time}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h2>Attending</h2>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                </tr>
                {% for party in going_list %}
                <tr>
                    <td><a href="../parties/{{party.id}}">{{party.name}}</a></td>
                    <td>{{party.date_time}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}
